.player-create {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
}

iframe {
  margin: 20px;
  width: 650px;
  height: 400px;
}

@media all and (max-width: 770px) {
  iframe {
    width: 450px;
    height: 300px;
  }
}

@media all and (max-width: 480px) {
  iframe {
    width: 350px;
    height: 200px;
  }
}
