.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(23, 34, 57);
  position: fixed;
  bottom: 0;
  width:100%;
  padding: 5px;
}

.footer-icon-div {
  display: flex;
  flex-direction: column;
}

.footer-links {
  gap: 10px;
  display: flex;
}

.footer-links{
  color:white;
  text-decoration: none;
  font-size: small;
}

.footer-logo {
height:30px;
}