.player-image {
  width: 650px;
  height: 140px;
  border: solid white 6px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.players {
  height: 350px;
  overflow-y: scroll;
  width: 1370px; 
  display: block;
  margin: 30px auto;
}

::-webkit-scrollbar {
  background-color: rgb(230, 230, 230);
}
 
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 25px;
  width: 2px;

}

.add-button{
  border: none;
  display: block; 
  margin: 0px auto;
}


@media all and (max-width: 400px) {



  .player-image {
    width: 362px;
    height: 150px;
    border: solid navy 6px;
    margin-bottom: 10px;
    
    
  }

  .players {
   margin-top: 100px;
   margin-left: -10px;
   
  }

  .add-button{
    margin-left: 150px;
  }

}