.player-image {
  width: 700px;
  height: 180px;
  border: solid white 6px;
}

.players-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
  margin-bottom: 50px;
}

.players {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media all and (max-width: 750px) {
  .player-image {
    width: 500px;
  }
}

@media all and (max-width: 545px) {
  .player-image {
    width: 300px;
    height: 100px;
  }
}
