.player-image {
  width: 650px;
  height: 150px;
  border: solid white 6px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.players {
  scrollbar-width: none;
  margin-top: 50px;
  margin-left: 40px;
  height: 350px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none; 
}

.add-button{
  margin-left: 690px;
  margin-top:20px;
  margin-bottom:20px;
  border: none;
}


@media all and (max-width: 400px) {



  .player-image {
    width: 362px;
    height: 150px;
    border: solid navy 6px;
    margin-bottom: 10px;
    
    
  }

  .players {
   margin-top: 100px;
   margin-left: -10px;
   
  }

  .add-button{
    margin-left: 150px;
  }

}